$var title: API
<div class="prose">
<!--<h1>API</h1>-->

<h2 class="no-margin"><a href="http://python101.readthedocs.org/pl/latest/rg/zasady.html">Zasady</a></h2>
<p class="faded">Poznaj zasady gry.</p>

<h2 class="no-margin"><a href="http://python101.readthedocs.org/pl/latest/rg/klocki01.html">RG Klocki</a></h2>
<p class="faded">Zobacz gotowe fragmenty kodu i ich działanie.</p>

<h2 class="no-margin"><a href="http://python101.readthedocs.org/pl/latest/rg/dokumentacja/index.html">Dokumentacja</a></h2>
<p class="faded">Tłumaczenie oryginalnej dokumentacji Robot Game.</p>

</div>
