$def with (rid, robots)
$var title: Challenge robot
$if len(robots) == 0:
    <p>Wygląda na to, że jeszcze nie masz robotów do walki. Musisz stworzyć choć jednego, aby zacząć.</p>
    <form method="get" action="/robot/new"><button>Stwórz robota</button></form>
$else:
    <h1>Wybierz robota, którego chcesz użyć do walki</h1>
    <table>
        $for robot in robots:
            <tr>
                <td class="faded">$:tplib.drating(robot)</td>
                <td><a href="/robot/$rid/challenge/$robot.id">$robot.name</a></td>
                $for times in [2, 3, 5, 10]:
                  <td><a href="/robot/$rid/challenge/$robot.id/$times">$times times</a></td>
            </tr>
    </table>
