$var title: FAQ
<h1>FAQ - najczęsciej zadawane pytania</h1>

<h2>Jaka wersja Pythona jest tu używana?</h2>
<p>CPython 2.7.3.</p>

<h2>Jakie są dostępne moduły?</h2>
<p>Wszystkie, które dostarcza standardowa biblioteka Pythona.</p>

<h2>Najważniejsze pytanie - czy mój robot nie zniszczy serwera</h2>
<p>NIE - każdy robot jest uruchamiany:</p>
<ul>
    <li>jako oddzielny proces</li>
    <li>w specjalnej klatce (chroot jail)</li>
    <li>jako użytkownik "nikt/nobody"</li>
    <li>w środowisku chronionym przez firewall "iptables"</li>
    <li>w sposób ograniczonym przez ulimit, aby nie zużył zbyt wiele zasobów RAM</li>
</ul>
