$def with (content)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $if 'title' in content:
        <title>$content.title | Robot Game w Koduj z Klasą</title>
    $else:
        <title>Robot Game w Koduj z Klasą</title>
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/static/main.css?v=5"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/layouts/side-menu.css">
    <link rel="stylesheet" href="/static/css/fa.css">
    <!--<![endif]-->
    
  </head>
  <body>
  <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Robot Game - KzK</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/home" class="pure-menu-link">
                    <i class="fa fa-fw fa-home"></i>Home</a></li>
                <li class="pure-menu-item"><a href="/directory" class="pure-menu-link">
                    <i class="fa fa-fw fa-trophy"></i>Magazyn</a></li>
                <li class="pure-menu-item"><a href="/api" class="pure-menu-link">
                    <i class="fa fa-fw fa-book"></i>Zasady</a></li>
        $if 'logged_in' in sess and sess.logged_in:
                <li class="pure-menu-item"><a href="/robots" class="pure-menu-link">
                    <i class="fa fa-fw fa-wrench"></i>Moje roboty</a></li>
        $if 'logged_in' in sess and sess.logged_in:
                <li class="pure-menu-item"><a href="/user/$sess.user_id" class="pure-menu-link">
                    <i class="fa fa-fw fa-user"></i>Profil</a></li>
                <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">
                    <i class="fa fa-fw fa-sign-out"></i>Wyloguj</a></li>
        $else:
                <li class="pure-menu-item"><a href="/reg" class="pure-menu-link">
                    <i class="fa fa-fw fa-leaf"></i>Rejestracja</a></li>
                <li class="pure-menu-item"><a href="/login" class="pure-menu-link">
                    <i class="fa fa-fw fa-sign-in"></i>Logowanie</a></li>
            
            </ul>
        </div>
    </div>

    <div id="main">
        
           $:content 
 
    </div>
 </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--[if lte IE 8]><script src="/static/flot/excanvas.min.js"></script><![endif]-->
    <!-- <script src="/static/main.js?v=2"></script> -->
    <script src="/static/replay.js?v=6"></script>
    <script src="/static/js/ui.js"></script>
    $if 'javascript' in content:
        $:content.javascript
</body>
</html>
<!--      


        <div class="nav large clearfix">
          <div class="left">
            <a href="/home"><i class="fa fa-fw fa-home"></i><u id="key-home">S</u>tart</a>
            <a href="/directory"><i class="fa fa-fw fa-trophy"></i><u id="key-w">M</u>agazyn</a>
            <a href="/api"><i class="fa fa-fw fa-book"></i><u id="key-r">Z</u>asady</a>
            $if 'logged_in' in sess and sess.logged_in:
              <a href="/robots"><i class="fa fa-fw fa-wrench"></i>Moje&nbsp;<u id="key-b">B</u>oty</a>
          </div>
          
          <div class="right">
            
          </div>
        </div>
        <div class="header faded">
          <a href="https://plus.google.com/communities/118117754881924895861/stream/6b902c87-03f4-4c5e-a9aa-ec6399c2f27c">Ogólna&nbsp;Dyskusja (RG)</a> &middot;
          <a href="https://plus.google.com/communities/118117754881924895861/stream/86494a77-9cc7-4a3f-9326-d091b6136eac">Strategie</a> &middot;
          <a href="https://plus.google.com/communities/118117754881924895861/stream/8899076a-a6a4-4ea8-9ce9-92d6c01e2196">Życzenia</a> &middot;
          <a href="https://plus.google.com/communities/118117754881924895861/stream/f5c3b7e3-300e-4dfb-8cec-d45276cd5e57">Zgłoszenia&nbsp;bugów</a>
        </div>
        <div class="content clearfix">
          
        </div>
        <div class="footer">
          <div class="left">
            <span>&copy;&nbsp;2013-2015&nbsp;<a href="https://whitehalmos.org">Peter&nbsp;Wen</a></span>.
          </div>
          <div class="right">
            <!-- <span>#robotgame&nbsp;on&nbsp;irc.freenode.net</span> &middot; -->
 <!--           <a href="/credits">O RobotGame</a> &middot;
            <a href="/stats">Statystyki</a>
          </div>
        </div>
      </div> -->

