/* pygment */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

/* mine */
@viewport {
  zoom: 1.0;
}

body {
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: scroll;
}

b, strong {
  font-weight: bold;
}

p, ol, ul {
  margin-bottom: 6px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  line-height: 2;
}

pre {
  line-height: 1.2em;
}

hr {
  border-style: none;
  border-bottom: solid 1px #bbbbbb;
  margin: 1em 0;
}

a {
  color: #008C0C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.inherit-color {
  color: inherit;
}

label {
  cursor: pointer;
}

td, th {
  vertical-align: top;
  padding: 6px;
}

th {
  font-weight: normal;
  text-align: right;
}

form th {
  padding-right: 6px;
  vertical-align: middle;
}

pre, code {
  font-family: consolas, monospace;
  background-color: #dddddd;
}

pre {
  padding: 6px;
  overflow: auto;
}

code {
  padding: 6px;
  white-space: pre-wrap;
}

input, textarea {
  font: inherit;
  color: #555555;
  padding: 4px;
}
input[type='radio'], input[type='checkbox'], textarea[type='radio'], textarea[type='checkbox'] {
  cursor: pointer;
}

ol, ul {
  margin-left: 3em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

.error {
  color: red;
}
.small {
  font-size: 12px;
}
.large {
  font-size: 20px;
}
.bold {
  font-weight: bold;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.success, .green {
  color: #337733;
}

.fail, .red {
  color: #773333;
}

.blue {
  color: #3333aa;
}

input[type='button'],
input[type='submit'],
button,
.button {
  display: inline-block;
  padding: 0.3em 0.65em;
  color: white;
  border-radius: 4px;
  font: inherit;
  text-decoration: none;
  background-color: #991111;
  background-image: -moz-linear-gradient(90deg, #700000, #991111);
  border: solid 1px #660000;
  text-shadow: 1px 1px 0 #330000;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
input[type='button']:hover,
input[type='submit']:hover,
button:hover,
.button:hover {
  text-decoration: none;
}
input[type='button']:active,
input[type='submit']:active,
button:active,
.button:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 8px #770000;
  background-color: #881111;
  background-image: -moz-linear-gradient(90deg, #720000, #881111);
}
input[type='button'].large,
input[type='submit'].large,
button.large,
.button.large {
  font-size: 125%;
}
input[type='button'].small,
input[type='submit'].small,
button.small,
.button.small {
  font-size: 90%;
  padding: 0.2em 0.45em;
}

form.inline {
  display: inline-block; }
form input[type='button'],
form input[type='submit'],
form button,
form .button {
  margin-top: 0.4em; }

a.normal {
  color: inherit; }

.faded {
  color: #888888; }
  .faded a {
    color: inherit; }

.nou {
  text-decoration: none; }
  .nou:hover {
    text-decoration: none; }

.logo {
  text-align: center;
  margin-top: 6px;
  /*margin: 30px 0 20px;*/
}
.logo span {
  display: inline-block;
  font: normal 240% arial;
  border-radius: 3px;
  padding: 8px;
}

.headline {
  font-family: "helvetica neue", helvetica, arial;
  font-size: 180%; }

#container {
  margin: 0 auto;
  max-width: 960px;
  min-width: 240px;
}
#container .notice {
  padding: 6px;
  text-align: center;
  color: #664444;
  margin-bottom: 1em;
  border-radius: 6px;
  background-color: #eedddd; }
#container .nav {
  padding: 6px;
  background-color: #008C0C;
  color: white;
}
#container .nav a {
  padding-bottom: 2px;
  padding-right: 3px;
  padding-top: 1px;
  height: 30px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
#container .nav a:hover {
  background-color: #aa4444;
  text-shadow: 0 1px 1px #553333;
}
#container .content {
  padding: 6px;
  border-bottom: solid 4px #008C0C;
}
#container .content .robot a {
  text-decoration: none;
}
#container .content .robot a:hover {
  text-decoration: underline;
}
#container .footer {
  padding: 12px 6px;
  font-size: 90%;
  color: #888888;
}
#container .footer .right {
  text-align: right;
}

#container .nav .account {
  display: inline-block;
}
@media (min-width: 840px) {
  #container .nav .account {
    float: right;
  }
}

.matches {
  display: table;
}
.fill {
  width: 100%;
}
.matches .match-item {
  display: table-row;
}
.matches .match-item > * {
  display: table-cell;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.match-item .last {
  white-space: normal;
  width: 99%;
}
.matches .match-item .name {
  max-width: 80px;
}
.matches .match-item .name.short {
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.matches .match-item .change,
.matches .match-item .only,
.matches .match-item .ranked,
.matches .match-item .rating,
.matches .match-item .timestamp,
.matches .match-item .score {
  display: none;
}
@media (min-width: 320px) {
  .matches .match-item .name {
    max-width: 100px;
  }
  .matches .match-item .timestamp {
    display: table-cell;
  }
}
@media (min-width: 480px) {
  .matches .match-item .name {
    max-width: 120px;
  }
  .matches .match-item .change,
  .matches .match-item .score {
    display: table-cell;
  }
}
@media (min-width: 720px) {
  .matches .match-item .name {
    max-width: 180px;
  }
  .matches .match-item .only {
    display: inline;
  }
  .matches .match-item .rating {
    display: table-cell;
  }
}
@media (min-width: 960px) {
  .matches .match-item .name {
    max-width: 240px;
  }
  .matches .match-item > * {
    overflow: visible;
  }
}

.match-item .timestamp {
  text-align: right;
}
.match-item:nth-child(odd) {
  background-color: #eeeeee;
}
.match-item * {
  line-height: 2;
}

.editrobot input[type='text'], .editrobot textarea {
  width: 99%; }
  .editrobot input[type='text'].short, .editrobot textarea.short {
    max-width: 300px; }
.editrobot textarea {
  height: 150px; }

.chat-frame {
  height: 180px;
  width: 100%;
  height: 75%;
  margin-bottom: 6px;
}
.blurb {
  padding-bottom: 6px;
}
.blurb-right {
  position: relative;
}
.blurb .matches {
  display: none;
}
@media (min-width: 720px) {
  .blurb {
    max-width: 294px;
    padding-right: 6px;
  }
  .blurb .matches {
    display: block;
  }
}
.blurb .home-signup {
  background-color: #eadddd;
  border-radius: 6px;
  padding: 12px; }
  .blurb .home-signup .fields {
    margin: 0; }
    .blurb .home-signup .fields .field {
      padding: 6px;
      border: solid 1px #aaaaaa;
      border-radius: 2px;
      background-color: white;
      box-shadow: 0 1px 0px #bbbbbb;
      margin-bottom: 8px; }
      .blurb .home-signup .fields .field input {
        background-color: white;
        outline: none;
        border-style: none;
        padding: 0;
        margin: 0;
        width: 100%; }
  .blurb .home-signup button.large {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    margin-top: 0; }

.center .replay {
  margin: 0 auto; }

.replay {
  position: relative;
  display: inline-block;
}
.replay .board {
  margin: 0 auto;
}
.replay .board .row {
  position: relative;
  height: 0;
  padding-bottom: 5.26315789474%;
}

.replay .board .row .block {
  white-space: nowrap;
  width: 5.26315789474%;
  height: 0;
  line-height: 200%;
  position: relative;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-right: 1px solid rgba(0, 0, 0, .2);

  background-color: white;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

  -moz-box-shadow:    inset 0 0 15px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.08);
  box-shadow:         inset 0 0 15px rgba(0, 0, 0, 0.08);
}

.replay .board .row .block:first-of-type {
  border-left: 1px solid rgba(0, 0, 0, .2);
}

.replay .board .row:first-of-type .block {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.replay .board .row .block.obstacle {
  background-color: #aaa;
  color: rgba(0,0,0,0.5);
  font-size: 70%;
  font-weight: lighter;
}
.replay .board .row .block.red, .replay .board .row .block.blue {
  cursor: pointer;
  border-radius: 15%;
}
.replay .board .row .block.red {
  background-color: indianred;
  color: white;
}
.replay .board .row .block.blue {
  background-color: steelblue;
  color: white;
}
.replay .board .row .block.black {
  background-color: #888888; }
.replay .board .row .block.normal {
  background: none;
}
.replay .board .row .block.guard {
  color: lime;
}
.replay .board .row .block.suicide {
  background-color: yellow;
}
.replay .board .row .block.suicide.blue {
  color: steelblue;
}
.replay .board .row .block.suicide.red {
  color: indianred;
}
.replay .board .row .block.highlighted {
  position: relative; }
.replay .board .row .block.highlighted:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3); }
.replay .buttons {
  margin-bottom: 3px;
}
.replay .buttons span[class^='name']:after {
  content: ": ";
}
.replay .robot-info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
  .replay .robot-info li {
    font-family: consolas, monospace; }
    .replay .robot-info li b {
      font-family: "helvetica neue", helvetica, arial; }
      .replay .robot-info li b:after {
        content: ": "; }

.replay .board .row .block .arrow {
  font-weight: normal;
  font-size: 100%;
  position: absolute;
  z-index: 5;
}
.replay .board .row .block .move {
  /*color: forestgreen;*/
  color: lightblue;
}
.replay .board .row .block.red .attack {
  /*color: crimson;*/
}
.replay .board .row .block.blue .attack {
  /*color: royalblue;*/
}
.replay .board .row .block .attack {
  color: darkorange;
}
.replay .board .row .block.grid {
  border-top: none;
  border-right: 1px solid black;
  border-left: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
.replay .board .row .block:first-of-type.grid {
  border-left: solid 1px black;
}
.replay .board .row:first-of-type .block.grid {
  border-top: solid 1px black;
}

.replay .board .row .block .fa-long-arrow-up {
  top: -35%;
  left: 35%;
}
.replay .board .row .block .fa-long-arrow-right {
  top: 20%;
  left: 80%;
}
.replay .board .row .block .fa-long-arrow-down {
  top: 75%;
  left: 35%;
}
.replay .board .row .block .fa-long-arrow-left {
  top: 20%;
  left: -35%;
}
.replay .board .row .block .fa-angle-up {
  top: -52%;
  left: 25%;
}
.replay .board .row .block .fa-angle-right {
  top: 20%;
  right: -25%;
}
.replay .board .row .block .fa-angle-down {
  bottom: -43%;
  left: 25%;
}
.replay .board .row .block .fa-angle-left {
  top: 20%;
  left: -25%;
}
.replay .board .row .block .fa-angle-double-up {
  top: -55%;
  left: 25%;
}
.replay .board .row .block .fa-angle-double-right {
  top: 20%;
  right: -40%;
}
.replay .board .row .block .fa-angle-double-down {
  bottom: -50%;
  left: 25%;
}
.replay .board .row .block .fa-angle-double-left {
  top: 20%;
  left: -40%;
}
.replay .board .row .block .fa-chevron-up {
  top: -50%;
  left: 15%;
}
.replay .board .row .block .fa-chevron-right {
  top: 20%;
  left: 90%;
}
.replay .board .row .block .fa-chevron-down {
  top: 70%;
  left: 15%;
}
.replay .board .row .block .fa-chevron-left {
  top: 20%;
  left: -35%;
}

.replay .board .row .block .fa-angle-up {
  top: -25%;
  left: 25%;
}
.replay .board .row .block .fa-angle-right {
  top: 20%;
  right: -5%;
}
.replay .board .row .block .fa-angle-down {
  bottom: -25%;
  left: 25%;
}
.replay .board .row .block .fa-angle-left {
  top: 20%;
  left: -5%;
}
.CodeMirror {
  font: normal 100% consolas, monospace !important;
  border: solid 1px #888888; }

.secret-code {
  max-width: 450px; }

.defcursor {
  cursor: default; }

.robot-items {
  display: table;
}
.robot-items .robot-item {
  display: table-row;
}
.robot-items .robot-item > * {
  display: table-cell;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.robot-item:nth-child(odd) {
  background-color: #eeeeee;
}
.robot-item .medal {
  text-align: right;
  width: 16px;
}
.robot-item .ranking {
  text-align: right;
}
.robot-item .last {
  white-space: normal;
  width: 99%;
}
.robot-item .timestamp {
  min-width: 5em;
}
.robot-item .rating-diff {
  min-width: 1.5em;
  text-align: center;
}
.robot-item .name {
  color: #600;
}
.name.me {
  color: green;
}
.name.fresh {
  color: #f00;
}
.name.automatch {
  color: #b00;
}

.robot-item .rating,
.robot-item .open-source {
  display: none;
}

@media (min-width: 320px) {
  .robot-item .rating {
    display: table-cell;
    min-width: 3em;
  }
  .robot-item .ranking {
    min-width: 2.5em;
  }
}

@media (min-width: 480px) {
  .robot-item .open-source {
    display: table-cell;
  }
}

.about .text {
  white-space: pre-wrap;
}

.new-robot .form {
  max-width: 400px; }
.new-robot .preview {
  max-width: 320px; }
  .new-robot .preview h1, .new-robot .preview h2, .new-robot .preview h3, .new-robot .preview p {
    text-align: center; }
  .new-robot .preview .preview-box {
    padding: 6px;
    border: solid 1px #aaaaaa;
    box-shadow: 0 2px 2px 0px #aaaaaa;
    border-radius: 6px;
    margin-bottom: 0.5em; }

.profile-page .left {
  max-width: 550px; }
.profile-page.right {
  max-width: 200px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center; }
.profile-page .account-type.normal {
  color: #aa3333; }
.profile-page .account-type.bronze {
  color: #887766; }
.profile-page .account-type.silver {
  color: #777777; }
.profile-page .account-type.gold {
  color: #888866; }

/* http://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly */
#tooltip
{
  text-align: center;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 15px;
}

#tooltip:after /* triangle decoration */
{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #111;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after
{
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after
{
  left: 10px;
  margin: 0;
}

#tooltip.right:after
{
  right: 10px;
  left: auto;
  margin: 0;
}

abbr {
  border-bottom: 1px dotted #111;
  cursor: help;
}

.rating-white {
  color: #fff;
}
.rating-red {
  color: red;
}
.rating-yellow {
  color: darkorange;
}
.rating-blue {
  color: royalblue;
}
.rating-green {
  color: forestgreen;
}
.rating-gray {
  color: dimgray;
}
.rating-black {
  color: black;
}
.fa.rating-container {
  width: 14px;
  height: 18px;
  margin-right: 4px;
  line-height: 1;
}
.rating-o {
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
}
.rating-i {
  overflow: hidden;
}
.rating-front {
  z-index: 10;
}
.rating-middle {
  z-index: 5;
}
.rating-back {
  z-index: 1;
}

.trophy-fast {
  color: cornflowerblue;
}
.trophy-short {
  color: peru;
}

.chart {
  width: 228px;
  height: 128px;
}
@media (min-width: 320px) {
  .chart {
    width: 308px;
    height: 173px;
  }
}
@media (min-width: 480px) {
  .chart {
    width: 468px;
    height: 263px;
  }
}
@media (min-width: 720px) {
  .chart {
    width: 708px;
    height: 398px;
  }
}
.overview {
  height: 0px;
}
@media (min-width: 960px) {
  .chart {
    width: 948px;
    height: 533px;
  }
  .overview {
    height: 100px;
  }
}

.email {
  vertical-align: text-bottom;
}
